<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPharmacyServlet</servlet-name>
        <servlet-class>controller.AddPharmacyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatePharmacyServlet</servlet-name>
        <servlet-class>controller.ValidatePharmacyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicineServlet</servlet-name>
        <servlet-class>controller.AddMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStockServlet</servlet-name>
        <servlet-class>controller.UpdateStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMedicineServlet</servlet-name>
        <servlet-class>controller.SearchMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnector</servlet-name>
        <servlet-class>db.DBConnector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserPasswordServlet</servlet-name>
        <servlet-class>controller.UpdateUserPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medicineStockRemoveServlet</servlet-name>
        <servlet-class>controller.medicineStockRemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPharmacyServlet</servlet-name>
        <servlet-class>controller.SearchPharmacyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>controller.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNewPasswordServlet</servlet-name>
        <servlet-class>controller.SetNewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelPharmacyApprovalServlet</servlet-name>
        <servlet-class>controller.CancelPharmacyApprovalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPharmacyServlet</servlet-name>
        <url-pattern>/AddPharmacyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatePharmacyServlet</servlet-name>
        <url-pattern>/ValidatePharmacyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicineServlet</servlet-name>
        <url-pattern>/AddMedicineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStockServlet</servlet-name>
        <url-pattern>/UpdateStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMedicineServlet</servlet-name>
        <url-pattern>/SearchMedicineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnector</servlet-name>
        <url-pattern>/DBConnector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserPasswordServlet</servlet-name>
        <url-pattern>/UpdateUserPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medicineStockRemoveServlet</servlet-name>
        <url-pattern>/medicineStockRemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPharmacyServlet</servlet-name>
        <url-pattern>/SearchPharmacyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/ForgetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/VerifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNewPasswordServlet</servlet-name>
        <url-pattern>/SetNewPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelPharmacyApprovalServlet</servlet-name>
        <url-pattern>/CancelPharmacyApprovalServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
